* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, hotpink, pink);
  color: antiquewhite;
  padding: 10px;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}
