*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: beige;
  color: rgb(53, 52, 52);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {list-style-type: none;}

a {text-decoration: none;}

p {
  margin-bottom: 1.25rem;
  color: grey;
}

.section {padding: 5rem 0;}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  max-width: 620px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
