*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: whitesmoke;
  color: rgb(74, 74, 133);
  font-size: 0.875rem;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}
