
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgb(247, 225, 229);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {list-style-type: none;}

a {text-decoration: none;}

.logo {
  font-size: 28px;
  color: hotpink;
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(152, 150, 150);
}

.section {padding: 5rem 0;}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.logo span {color: rgb(180, 7, 94);}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hotpink;
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.sidebar-toggle:hover {color: rgb(180, 7, 94);}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
