*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 60px;
  letter-spacing: 15px;
  font-weight: 100;
  color: rgb(132, 132, 240);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: whitesmoke;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 0.3s linear;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}
