
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(244, 207, 238);
  line-height: 1.5;
  font-size: 0.875rem;
}

h3 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 9px;
}





