body {
  background-color: whitesmoke;
}

.meme-generator {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}


.meme-generator .generate-meme-btn {
  padding: 8px 20px;
  border: none;
  border-left: 4px solid #222;
  border-right: 4px solid #222;
  margin: 24px 0;
  font-size: 20px;
  color: #f81313;
  background-color: whitesmoke;
  cursor: pointer;
  transition: all 400ms ease;
}

