*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(240, 248, 247);
  color: grey;
  line-height: 1.5;
  font-size: 0.875rem;
}

img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

.gift-info h4 {
  letter-spacing: 2px;
  font-size: 18px;
}

.gift-info p {
  color: rgb(134, 134, 194);
  text-align: justify;
  margin: 25px 0;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
}
.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.gift-img {
  margin-bottom: 2rem;
}

.gift-info h3 {
  text-transform: uppercase;
  color: rgb(86, 86, 219);
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 7px;
  word-spacing: 10px;
}
