*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(240, 248, 247);
  color: grey;
  line-height: 1.5;
  font-size: 0.875rem;
}

img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.gift-img {
  margin-bottom: 2rem;
}

.gift-info h3 {
  text-transform: uppercase;
  color: rgb(86, 86, 219);
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 7px;
  word-spacing: 10px;
}
