body {
  font-family: "Quicksand", sans-serif;
  background-color: #f1f5f8;
}

.nav-center {
  background-color: #e5e7e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #9b0887;
}
