*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: pink;
  color: rgb(131, 7, 69);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Quicksand", sans-serif;
}

img:not(.logo) {
  width: 100%;
}
